header {
  background-color: burlywood;
}

main {
  background-color: coral;
  min-width: 70%;
}

aside {
  background-color: aquamarine;
  /* min-width: 40%; */
  flex-grow: 1;
}

footer {
  background-color: tomato;
}

.element {
  min-height: 150px;
  font-size: 5rem;
  padding: 1rem;
}

/* media queries */

@media screen and (max-width: 768px) {
  /* cia parasyto taisykles galios 0 iki 768px */
  main {
    min-width: 50%;
  }
}

@media screen and (max-width: 480px) {
  main {
    min-width: 100%;
  }
  .flex {
    flex-wrap: wrap;
  }
}
