header {
  background-color: burlywood;
}

main {
  background-color: coral;
  min-width: 70%;
}

aside {
  background-color: aquamarine;
  /* min-width: 40%; */
  flex-grow: 1;
}

footer {
  background-color: tomato;
}

.element {
  min-height: 150px;
  font-size: 5rem;
  padding: 1rem;
}
